html {
    font-size: 100%;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}

.flex {
    display: flex;
    &-between {
        justify-content: space-between;
    }
    &-center {
        justify-content: center;
    }
}